@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        @await Component.InvokeAsync("_AdminLayoutSpinnerComponentPartial")
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            @await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial")
            <!-- Navbar End -->
            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
                    <div class="col-md-6 text-center">
                        <h3>This is blank page</h3>
                    </div>
                </div>
            </div>
            <!-- Blank End -->
            <!-- Footer Start -->
            @await Component.InvokeAsync("_AdminLayoutFooterComponentPartial")
            <!-- Footer End -->
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- Script Start -->
    @await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")
    <!-- Script End -->
</body>

</html>
@RenderBody()